:root{
  --bg-color: #F5F8FF;
  --btn-color: #6759FF;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}


body{
  background-color: var(--bg-color);
}

.wrapper{
  width: 95%;
  margin: 0 auto;
}

#search-container{
  margin: 1em 0;
}

#search-container input{
  background-color: transparent;
  width: 40%;
  border-bottom: 2px solid #110f29;
  padding: 1em 0.3em;
}

#search-container input:focus{
  border-bottom-color: var(--btn-color);
}

#search-container button{
  padding: 1em 2em;
  margin-left: 1em;
  background-color: var(--btn-color);
  color:#FFFFFF;
  border-radius: 5px;
  margin-top: 0.5em;
}

#buttons button{
  border: 2px solid var(--btn-color);
  padding: 1em 2.2em;
  border-radius: 3em;
  color: var(--btn-color);
  background-color: transparent;
  cursor: pointer;
}

.active{
  background-color: var(--btn-color) !important;
  color: #FFFFFF !important;
}

#products{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column: 1.5em;
  grid-column-gap: 1.5em;
  padding: 2em 0;
}

.card{
  background-color: #FFFFFF;
  max-width: 18em;
  margin-top: 1em;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
}

.image-container{
  text-align: center;
}

img{
  max-width: 100%;
  object-fit: contain;
  height: 15em;
}

.container{
  padding: 1em;
  color: #110F29;
}

.container h5{
  font-weight: 500;
}

.hide{
  display: none;
}

@media screen and (max-width: 720px){
  
  img{
    height: 10em;
  }

  .card{
    max-width: 10em;
    margin-top: 1em;
  }

  #products{
    grid-template-columns: auto auto;
    grid-column-gap: 1em;
  }
}